.pageColumn.structure {
    border-right: 0.1rem solid var(--darker);
    padding-right: 2rem;
    width: fit-content;
}

a.noBreak,
#birdhouseStructure {
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    .pageColumn.structure {
        order: 2;
        border-right: none;
        border-top: 0.1rem solid var(--darker);
        padding-top: 1rem;
        padding-right: 0;
    }

    a.noBreak {
        white-space: normal;
    }
}