:root {
    --fontColor: rgb(207, 207, 207);
    --fontHighlight: #aad9ff;
    --accent: #000000;
    --darker: rgba(255, 255, 255, 0.2);
    --muchDarker: rgba(255, 255, 255, 0.6);
    --lighter: rgba(0, 0, 0, 0.2);
    --muchlighter: rgba(0, 0, 0, 0.6);
    --highlight: #8acbff;
    --highlightHover: #a7d7ff;
    --highlightActive: #f3dc76;
    --background: #2c2c2c;
    --warning: rgb(218, 113, 113);
    --none: rgb(255, 255, 255, 0);

    --padding: 1rem;
    --border: 0.1rem solid white;
    --borderRadius: 0rem;
    --borderRadiusButtons: 0rem;
    --fontFamily: system-ui;
    --boxShadow: 0rem 0 1rem var(--lighter);
    --fontSizeSmall: 0.8rem;
    --fontSize: 1rem;
    --fontSizeMedium: 1.2rem;
    --fontSizeLarge: 1.4rem;
    --fontSizeExtraLarge: 2rem;
    --transitionFast: 0.1s ease-in-out;
    --transitionNormal: 0.4s ease-in-out;
    --transitionSlow: 1.4s ease-in-out;
}

@media screen and (max-width: 800px) {
    :root {
        --padding: 0.5rem;
    }
}

img.logo {
    filter: none;
}

button,
.menuButton {
    border-color: rgb(112, 112, 112);
}

.popup {
    background: var(--muchlighter);
}

.popup-content {
    border: 0.1rem solid rgb(112, 112, 112);
}